{% extends 'base.html.twig' %}

{% block title %}Edit DayQuest
{% endblock %}

{% block body %}
	<div class="min-h-screen bg-gray-100 flex flex-col justify-center items-center">
		<div class="bg-white shadow-md rounded-lg p-8 max-w-4xl w-full">
			<h1 class="text-2xl font-bold text-gray-800 mb-6 text-center">Edit DayQuest</h1>
			<div class="mt-4 mb-4">
				{{ include('application/day_quest/_delete_form.html.twig') }}
			</div>
			{{ include('application/day_quest/_form.html.twig', {'button_label': 'Update'}) }}

			<div class="mt-4">
				<a href="{{ path('app_application_day_quest_index') }}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Back to list</a>
			</div>
		</div>
	</div>
{% endblock %}
