{% extends 'base.html.twig' %}

{% block title %}Edit Quests{% endblock %}

{% block body %}
    <h1>Edit Quests</h1>

    {{ include('application/quests/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_application_quests_index') }}">back to list</a>

    {{ include('application/quests/_delete_form.html.twig') }}
{% endblock %}
