{% extends 'base.html.twig' %}

{% block title %}New QuestContent{% endblock %}

{% block body %}
    <h1>Create new QuestContent</h1>

    {{ include('application/quest_content/_form.html.twig') }}

    <a href="{{ path('app_application_quest_content_index') }}">back to list</a>
{% endblock %}
