{% extends 'base.html.twig' %}

{% block title %}Chat with GPT{% endblock %}

{% block body %}
    <h1>Chat with GPT</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    {% if responseText %}
        <div class="response">
            <h2>Response:</h2>
            <p>{{ responseText }}</p>
        </div>
    {% endif %}
{% endblock %}