{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<h1>Administration</h1>

<div class="admin-index">
    <ul>
        <li><a href="#">Manage Users</a></li>
        <li><a href="#">Manage Posts</a></li>
        <li><a href="#">Settings</a></li>
    </ul>
</div>
{% endblock %}
