{% extends 'base.html.twig' %}

{% block title %}New Quest{% endblock %}

{% block body %}
    <h1>Create new Quest</h1>

    {{ include('application/quest/_form.html.twig') }}

    <a href="{{ path('app_application_quest_index') }}">back to list</a>
{% endblock %}
