
{% block title %}Greenify - Quests{% endblock %}

{% block body %}

    <div class="flex justify-center">
        <div><img class="w-[1293px] h-[722px]" src="images/frontDiv.png" />
        </div>

        <div class="flex justify-center">
            <div class="left-[593px] top-[778px] absolute text-center text-[#0f0d06] text-[64px] font-semibold font-['Inter'] tracking-wide">A savoir</div>

            <div class="flex justify-content w-[383px] h-[180px] left-[529px] top-[969px] absolute">
                <div class="w-[383px] h-[180px] left-0 top-0 absolute bg-[#d9d9d9] rounded-[30px]"></div>
                <div class="w-[102px] h-[135.33px] left-[13px] top-[22.34px] absolute bg-[#9d9c9c] rounded-[30px]"></div>
                <div class="w-[238.19px] h-[63.07px] left-[126.49px] top-[34.16px] absolute text-black text-xl font-medium font-['Inter'] tracking-tight">New Trains Architecture - marino de pasa</div>
                <div class="w-[104px] h-[23.65px] left-[126px] top-[119.56px] absolute text-[#717171] text-[15px] font-medium font-['Inter'] tracking-tight">2023 / 01 /01</div>
                <div class="w-28 h-[23.65px] left-[257px] top-[119.56px] absolute text-[#717171] text-[15px] font-medium font-['Inter'] tracking-tight">#world #tech </div>
            </div>

            <div class="w-[383px] h-[180px] left-[98px] top-[969px] absolute">
                <div class="w-[383px] h-[180px] left-0 top-0 absolute bg-[#d9d9d9] rounded-[30px]"></div>
                <div class="w-[102px] h-[135px] left-[12px] top-[22px] absolute bg-[#9d9c9c] rounded-[30px]"></div>
                <div class="w-[238.19px] h-[63.07px] left-[126.49px] top-[34.16px] absolute text-black text-xl font-medium font-['Inter'] tracking-tight">New Trains Architecture - marino de pasa</div>
                <div class="w-[104px] h-[23.65px] left-[126px] top-[119.56px] absolute text-[#717171] text-[15px] font-medium font-['Inter'] tracking-tight">2023 / 01 /01</div>
                <div class="w-28 h-[23.65px] left-[257px] top-[119.56px] absolute text-[#717171] text-[15px] font-medium font-['Inter'] tracking-tight">#world #tech </div>
            </div>

            <div class="w-[383px] h-[180px] left-[1003px] top-[969px] absolute">
                <div class="w-[383px] h-[180px] left-0 top-0 absolute bg-[#d9d9d9] rounded-[30px]"></div>
                <div class="w-[102px] h-[135.33px] left-[13px] top-[22.34px] absolute bg-[#9d9c9c] rounded-[30px]"></div>
                <div class="w-[238.19px] h-[63.07px] left-[126.49px] top-[34.16px] absolute text-black text-xl font-medium font-['Inter'] tracking-tight">New Trains Architecture - marino de pasa</div>
                <div class="w-[104px] h-[23.65px] left-[126px] top-[119.56px] absolute text-[#717171] text-[15px] font-medium font-['Inter'] tracking-tight">2023 / 01 /01</div>
                <div class="w-28 h-[23.65px] left-[257px] top-[119.56px] absolute text-[#717171] text-[15px] font-medium font-['Inter'] tracking-tight">#world #tech </div>
            </div>

            <div class="w-[988px] left-[226px] top-[1189px] absolute text-center text-[#717171] text-base font-medium font-['Inter'] tracking-tight">Interseted about trains ! Your in the right place. Read a wide variety of train articles from our website including history of railroads and new technology of railroads <br/>Its all about trains and technology </div>
        </div>
    </div>

{% endblock %}

{% include 'Components/footer.html.twig' %}